[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pydantic-ai = "*"
supabase = "*"
python-dotenv = "*"
markdownify = "*"
streamlit = "*"
aiofiles = "*"
pinecone = {extras = ["grpc"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
